@font-face {
    font-family: 'Film P3';
    src: url('./fonts/FilmP3Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Film P3';
    src: url(../src/fonts/FilmP3Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Film P3';
    src: url(../fonts/FilmP3Bold.woff2) format('truetype');
} 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
